<div class="change-password">
  <app-header-text icon="lock">Change Password</app-header-text>
  <div class="change-password-content">
    <div class="field">
      <div class="label">Current Password</div>
      <input type="password" app-regular-text-field [(ngModel)]="currentPassword" />
    </div>
    <div class="field">
      <div class="label">New Password</div>
      <div class="input">
        <input type="password" app-regular-text-field [(ngModel)]="newPassword" />
        <div class="tooltip">The password must be at least 6 characters long.</div>
      </div>
    </div>
    <div class="field">
      <div class="label">Confirm Password</div>
      <input type="password" app-regular-text-field [(ngModel)]="confirmPassword" />
    </div>
    <div class="field">
      <div class="label"></div>
      <div class="input">
        <app-error-message [message]="message"></app-error-message>
        <button app-rounded-button (click)="onUpdatePassword()">Update password</button>
      </div>
    </div>
  </div>
</div>
