@import '../../../styles/variables';

.change-password-content {
  max-width: 720px;
}

.field {
  display: grid;
  column-gap: 20px;
  row-gap: 4px;
  margin: 16px 0;

  @media screen and (min-width: $width-large) {
    grid-template-columns: 1fr 2fr;
  }
}

.label {
  text-align: left;

  @media screen and (min-width: $width-large) {
    text-align: right;
  }
}

.tooltip {
  color: #fff;
  opacity: 0.6;
  font-size: 12px;
}
