<div class="change-password">
  <app-header-text icon="lock">{{ 'settings.change-password.title' | translate }}</app-header-text>
  <div class="change-password-content">
    <div class="field">
      <div class="label">{{ 'settings.change-password.current' | translate }}</div>
      <input type="password" app-regular-text-field [(ngModel)]="currentPassword" />
    </div>
    <div class="field">
      <div class="label">{{ 'settings.change-password.new' | translate }}</div>
      <div class="input">
        <input type="password" app-regular-text-field [(ngModel)]="newPassword" />
        <div class="tooltip">
          {{ 'settings.change-password.tooltip-new' | translate }}
        </div>
      </div>
    </div>
    <div class="field">
      <div class="label">{{ 'settings.change-password.confirm' | translate }}</div>
      <input type="password" app-regular-text-field [(ngModel)]="confirmPassword" />
    </div>
    <div class="field">
      <div class="label"></div>
      <div class="input">
        <app-error-message [message]="message"></app-error-message>
        <button app-rounded-button (click)="onUpdatePassword()">
          {{ 'common.button.save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
