<div class="change-password">
  <app-header-text>Change Password</app-header-text>
  <app-error-message [message]="message"></app-error-message>
  <div class="change-password-content">
    <input type="password" app-rounded-text-field placeholder="Current password" [(ngModel)]="currentPassword">
    <input type="password" app-rounded-text-field placeholder="New password" [(ngModel)]="newPassword">
    The password must be at least 6 characters long.
    <input type="password" app-rounded-text-field placeholder="Confirm password" [(ngModel)]="confirmPassword">
    <button app-rounded-button (click)="onUpdatePassword()">Update password</button>
  </div>
</div>
