<app-error-message [message]="message"></app-error-message>
<div class="recallcard-lesson">
  <div class="grid-area-info">
    <div class="lesson" *ngIf="lesson">
      <app-header-text>Lesson</app-header-text>
      <div class="info">
        <span class="label">Course:</span>
        {{ lesson.course.name }}
      </div>
      <div class="info">
        <span class="label">Lesson:</span>
        {{ lesson.name }}
      </div>
      <div class="info">{{ lesson.cards.length }} cards</div>
    </div>
  </div>
  <div class="grid-area-content">
    <app-multicards
      *ngIf="currentPlayMode == 'multicards' && lesson"
      [cards]="lesson.cards"
    ></app-multicards>
    <app-randomcards
      *ngIf="currentPlayMode == 'random' && lesson"
      [cards]="lesson.cards"
    ></app-randomcards>
  </div>
  <div class="grid-area-control">
    <div class="right" *ngIf="lesson">
      <img src="/assets/img/lessons.png" class="lessons-img" />
      <div class="control">
        <app-header-text>Play mode</app-header-text>
        <label class="play-option" [class.selected]="playMode == 'multicards'">
          <input type="radio" value="multicards" [(ngModel)]="playMode" />
          Multi-Cards
        </label>
        <label class="play-option" [class.selected]="playMode == 'random'">
          <input type="radio" value="random" [(ngModel)]="playMode" />
          Random
        </label>
      </div>
      <button app-rounded-button [disabled]="!playMode" (click)="onChangePlayMode()">Change</button>
    </div>
  </div>
</div>
