<nav>
  <div class="nav-side">
    <div class="logo">
      <img src="/assets/img/logo.png" alt="SB Learn Logo" />
    </div>
    <a *ngIf="isSignedIn" class="nav-item" routerLink="/recallcard/learn">Learn</a>
    <a *ngIf="isSignedIn" class="nav-item" routerLink="/recallcard/manage">Manage</a>
  </div>
  <div class="nav-side">
    <div *ngIf="isSignedIn" class="menu">
      <i class="fas fa-user"></i>
      <div class="menu-dropdown">
        <a class="menu-dropdown-item" routerLink="/settings">Settings</a>
        <a class="menu-dropdown-item" *ngIf="userAuthority == 'ROLE_ADMIN'" routerLink="/admin">Administration</a>
        <div class="menu-dropdown-item" (click)="onSignOut()">
          Sign out
          <i class="fas fa-sign-out-alt"></i>
        </div>
      </div>
    </div>
  </div>
</nav>
