<div *ngIf="cards">
  <div class="multicards-info">
    <div class="info">
      <span class="label">{{ 'recallcard.learn.multicards.cardsopen' | translate }} :</span>
      {{ numOpenedCards }}/{{ cards.length }}
    </div>
  </div>
  <div class="multicards-control">
    <button app-transparent-button (click)="onOpenAll()" [disabled]="!numClosedCards">
      <i class="fas fa-eye"></i>
      {{ 'recallcard.learn.multicards.openall' | translate }}
    </button>
    <button app-transparent-button (click)="onCloseAll()" [disabled]="!numOpenedCards">
      <i class="fas fa-eye-slash"></i>
      {{ 'recallcard.learn.multicards.closeall' | translate }}
    </button>
    <button app-transparent-button (click)="shuffleCards()">
      <i class="fas fa-random"></i>
      {{ 'recallcard.learn.multicards.shuffle' | translate }}
    </button>
  </div>
  <div class="cards">
    <div class="card" *ngFor="let card of cards" (click)="onToggleOpenCard(card)">
      <div class="word">{{ card.word }}</div>
      <div class="meaning" [class.closed]="!card.open">
        <span *ngIf="card.open">{{ card.meaning }}</span>
        <span *ngIf="!card.open">&nbsp;</span>
      </div>
    </div>
  </div>
</div>
