@import '../../../../styles/variables';

.info {
  color: #fff;
  padding: 4px 0;
}

.label {
  color: $orange;
  text-transform: uppercase;
}

.multicards-info {
  text-align: center;
  margin-bottom: 8px;
}

.multicards-control {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.cards {
  display: grid;
  gap: 16px;

  @media screen and (min-width: $width-pc) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: $width-xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.2s;

  &:hover {
    box-shadow: 0 0 8px 2px rgba($color: #ffc, $alpha: 0.8);
  }

  .word {
    background-color: $yellow-green;
    padding: 16px;
    color: #fff;
  }

  .meaning {
    padding: 16px;
    color: $yellow-green;
    transition-duration: 0.2s;
    background-color: #fff;

    &.closed {
      opacity: 0.8;
    }
  }
}
