@import '../../../styles/variables';
@import '../../../styles/mixins';

.sbl-button-wrapper {
  margin: 4px 0;
  padding: 0;
  border: 0;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;

  &:disabled {
    cursor: initial;
    opacity: 0.3;
  }
}

.sbl-rounded-button {
  height: 32px;
  padding: 4px 20px;
  transition-duration: 0.25s;
  color: #fff;
  display: inline-block;
  @include shadow-in-out-4;
}
