<div class="preferences">
  <app-header-text icon="sliders-h">{{ 'settings.preferences.title' | translate }}</app-header-text>
  <div class="preferences-content">
    <div class="field">
      <div class="label">{{ 'settings.preferences.language' | translate }}</div>
      <app-rounded-select [options]="languageOptions" [(value)]="language"></app-rounded-select>
    </div>
    <div class="field">
      <div class="label"></div>
      <div class="input">
        <app-error-message [message]="message"></app-error-message>
        <button app-rounded-button (click)="onSave()" [disabled]="isSaving">
          {{ 'common.button.save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
