$gray: #313c41;
$dark-gray: #252d30;
$blue: #22acbd;
$blue-green: #00b7b3;

$jade: #14BB7F;
$jade-dark: #4F7A6B;

$magenta: #C74363;
$magenta-dark: #905C68;

$yellow-green: #95B735;

$width-pc: 620px;
$width-large: 960px;
$width-xl: 1200px;
