$light-gray: #626B6E;
$gray: #313c41;
$dark-gray: #252d30;
$blue: #22acbd;
$blue-green: #00b7b3;

$jade: #14BB7F;
$jade-dark: #4F7A6B;

$magenta: #C74363;
$magenta-dark: #905C68;

$yellow-brown: #BAAC8A;
$yellow-green: #95B735;
$orange: #FCC53E;

$brown: #C37447;
$brown-light: #F0E0D6;
$brown-dark: #96503A;

$red: #F26060;

$width-pc: 620px;
$width-large: 960px;
$width-xl: 1200px;
