/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Krub&family=Mitr&family=M+PLUS+Rounded+1c&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './variables';

body {
  background-color: $gray;
  font-family: Mitr, 'M PLUS Rounded 1c', sans-serif;
  margin: 0;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 12px 0;
}

button, input[type=text], input[type=password] {
  font-family: Mitr, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

a:active, a:focus {
  outline: 0;
}

input[type=text], input[type=password] {
  width: 100%;
}
