<div class="item" [class.selected]="selected">
  <div class="view-container" *ngIf="!isEditing">
    <span>{{ text }}</span>
    <i *ngIf="!isLoading" class="fas fa-edit edit-button" (click)="onStartEdit()"></i>
    <app-small-loading *ngIf="isLoading"></app-small-loading>
  </div>
  <div class="edit-container" *ngIf="isEditing">
    <input type="text" class="edit-field" *ngIf="isEditing" [(ngModel)]="editValue" (keyup.enter)="onFinishEdit()" />
    <i class="fas fa-check edit-button" (click)="onFinishEdit()"></i>
    <i class="fas fa-times edit-button" (click)="onCancelEdit()"></i>
  </div>
</div>
