@import '../../../styles/variables';

.item {
  margin: 4px 0;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  transition-duration: 0.2s;
  color: #fff;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.15);
  }

  &.selected {
    background-color: #fff;
    color: $gray;
  }

  .edit-field {
    border: 0;
    background-color: $gray;
    color: #fff;
    font-family: Krub, sans-serif;
    font-size: 14px;
    padding: 4px 8px;
  }
}

.view-container {
  display: grid;
  grid-template-columns: auto 16px;
  gap: 8px;
  align-items: center;
}

.edit-container {
  display: grid;
  grid-template-columns: auto 16px 16px;
  gap: 8px;
  align-items: center;
}
