<div class="randomcards-control">
  <button app-transparent-button (click)="onToggleSwap()">
    <i class="fas fa-retweet"></i>
    Swap
  </button>
</div>
<div class="card-container">
  <div class="card" *ngIf="currentCard">
    <div class="word">
      <ng-container *ngIf="!isSwapped">{{ currentCard.word }}</ng-container>
      <ng-container *ngIf="isSwapped">{{ currentCard.meaning }}</ng-container>
      <div class="shuffle-button" (click)="randomCard()">
        <i class="fas fa-random"></i>
      </div>
    </div>
    <div class="meaning" (click)="onShowMeaning()">
      <span *ngIf="showMeaning">
        <ng-container *ngIf="!isSwapped">{{ currentCard.meaning }}</ng-container>
        <ng-container *ngIf="isSwapped">{{ currentCard.word }}</ng-container>
      </span>
      <span class="hidden" *ngIf="!showMeaning">Click to show answer</span>
    </div>
  </div>
</div>
