@import '../../../../styles/variables';

.info {
  color: #fff;
  padding: 4px 0;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  font-size: 28px;
  flex-grow: 1;
  max-width: 600px;

  .word, .meaning {
    padding: 16px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .word {
    color: #fff;
    background-color: $brown;
    position: relative;

    .shuffle-button {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
      background-color: $brown-dark;
      padding: 0 24px;
      border-radius: 24px;
      cursor: pointer;
      transition-duration: 0.2s;

      &:hover {
        box-shadow: 0 0 8px 2px rgba($color: #ffc, $alpha: 0.8);
      }
    }
  }

  .meaning {
    color: $brown;
    cursor: pointer;

    .hidden {
      color: $brown-light;
    }

    .meaning-field {
      text-align: center;
      font-size: 28px;
      border: 0;
      color: $brown;
      height: 160px;

      &::placeholder {
        color: $brown-light;
        opacity: 1;
      }
    }
  }
}
