<div class="info">
  <span class="label">{{ 'recallcard.learn.quiz.score' | translate }} :</span>
  {{ numCorrect }}/{{ totalAnswered }}
</div>
<div class="quiz" *ngIf="currentIndex < cardsWithAnswer.length">
  <div class="quiz-control">
    <button
      app-transparent-button
      *ngIf="currentIndex == 0 && !isShowingResult"
      (click)="onToggleSwap()"
    >
      <i class="fas fa-retweet"></i>
      {{ 'recallcard.learn.common.swap' | translate }}
    </button>
    <button app-transparent-button [disabled]="!isShowingResult" (click)="onEnter()">
      {{ 'recallcard.learn.quiz.next' | translate }}
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="word">
        <ng-container *ngIf="!isSwapped">{{ currentCard.word }}</ng-container>
        <ng-container *ngIf="isSwapped">{{ currentCard.meaning }}</ng-container>
      </div>
      <div class="meaning">
        <input
          type="text"
          class="meaning-field"
          [placeholder]="'recallcard.learn.quiz.clicktotype' | translate"
          [readOnly]="isShowingResult"
          [(ngModel)]="answer"
          (keyup.enter)="onEnter()"
        />
        <div class="card-result correct" [class.hidden]="!isShowingResult || !isCurrentCardCorrect">
          <i class="fas fa-check"></i>
          {{ 'recallcard.learn.quiz.correct' | translate }}
        </div>
        <div class="card-result wrong" [class.hidden]="!isShowingResult || isCurrentCardCorrect">
          <i class="fas fa-times"></i>
          {{ 'recallcard.learn.quiz.incorrect' | translate }}
          <div class="correct-answer">
            {{ 'recallcard.learn.quiz.correct-answer' | translate }}:
            {{ getCorrectAnswer(currentCard) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="quiz-result" *ngIf="currentIndex >= cardsWithAnswer.length">
  <div class="quiz-control">
    <button app-transparent-button (click)="onRestart()">
      <i class="fas fa-redo-alt"></i>
      {{ 'recallcard.learn.quiz.restart' | translate }}
    </button>
  </div>
</div>
