@import '../../../../styles/variables';

.info {
  padding: 4px 0;
  text-align: center;
}

.label {
  color: $orange;
  text-transform: uppercase;
}

.quiz-control {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  font-size: 28px;
  flex-grow: 1;
  max-width: 600px;

  .word, .meaning {
    padding: 16px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .word {
    color: #fff;
    background-color: $brown;
  }

  .meaning {
    color: $brown;

    .hidden {
      color: $brown-light;
    }

    .meaning-field {
      text-align: center;
      font-size: 28px;
      border: 0;
      color: $brown;
      height: 160px;
      outline: none;

      &::placeholder {
        color: $brown;
        opacity: 0.2;
      }
    }
  }
}
