@import '../../styles/variables';

.recallcard {
  display: grid;
  grid-template-columns: 240px 240px auto;
  gap: 24px;
}

.grid-column {
  color: #fff;
}

.title {
  font-size: 28px;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}

.item {
  margin: 4px 0;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  transition-duration: 0.2s;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.15);
  }

  &.selected {
    background-color: #fff;
    color: $gray;
  }
}
