<app-error-message [message]="message"></app-error-message>
<div class="recallcard-learn">
  <div class="grid-area-courses">
    <app-header-text>Courses</app-header-text>
    <app-list-button-item
      *ngFor="let course of courses"
      [text]="course.name"
      [selected]="selectedCourse && selectedCourse.id === course.id"
      (click)="onClickCourse(course)"
    ></app-list-button-item>
  </div>
  <div class="grid-area-lessons">
    <div class="lessons" *ngIf="selectedCourse">
      <app-header-text>Lessons</app-header-text>
      <app-list-button-item
        *ngFor="let lesson of selectedCourse.lessons"
        [text]="lesson.name"
        [selected]="selectedLesson && selectedLesson.id === lesson.id"
        (click)="onClickLesson(lesson)"
      ></app-list-button-item>
    </div>
  </div>
  <div class="grid-area-cards">
    <div class="cards" *ngIf="selectedLesson && selectedLesson.cards">
      <div class="header">{{ selectedLesson.name }}</div>
      <div class="content">
        <div class="wordlist-row header">
          <span>Word</span>
          <div>
            Meaning
            <i
              class="fas btn-visibility"
              [class.fa-eye]="isMeaningVisible"
              [class.fa-eye-slash]="!isMeaningVisible"
              (click)="onToggleVisiblity()"
            ></i>
            <span class="float-right">/{{ selectedLesson.cards.length }}</span>
          </div>
        </div>
        <div class="wordlist-row" *ngFor="let card of selectedLesson.cards">
          <div>{{ card.word }}</div>
          <div *ngIf="isMeaningVisible">{{ card.meaning }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
