@import '../../../styles/variables';

.recallcard-learn {
  display: grid;
  gap: 24px;
  grid-template-areas:
    'courses'
    'lessons'
    'cards';

  @media screen and (min-width: 640px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'courses lessons'
      'cards cards';
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: 240px 240px auto;
    grid-template-areas:
      'courses lessons cards';
  }
}

.grid-area-courses {
  grid-area: courses;
}

.grid-area-lessons {
  grid-area: lessons;
}

.grid-area-cards {
  grid-area: cards;
}

.cards {
  border-radius: 20px;
  overflow: hidden;

  & > .header {
    background-color: $jade;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-size: 24px;
  }

  .content {
    background-color: #fff;
    color: $jade-dark;
    padding: 8px 24px 16px 24px;

    .wordlist-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 4px 0;

      &.header {
        text-transform: uppercase;
        border-bottom: 1px solid $jade-dark;
      }
    }
  }
}

.float-right {
  float: right;
}

.btn-visibility {
  cursor: pointer;
}
