@import '../../../styles/variables';

.recallcard-learn {
  display: grid;
  gap: 24px;
  grid-template-areas:
    'courses'
    'lessons'
    'cards'
    'play';

  @media screen and (min-width: $width-pc) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'courses lessons'
      'cards cards'
      'play play';
  }

  @media screen and (min-width: $width-large) {
    grid-template-columns: 1fr 1fr 2fr 180px;
    grid-template-areas:
      'courses lessons cards play';
  }
}

.grid-area-courses {
  grid-area: courses;
}

.grid-area-lessons {
  grid-area: lessons;
}

.grid-area-cards {
  grid-area: cards;
}

.grid-area-play {
  grid-area: play;
}

.cards {
  border-radius: 20px;
  overflow: hidden;

  & > .header {
    background-color: $jade;
    color: #fff;
    text-align: center;
    padding: 8px;

    .header-title {
      font-size: 24px;
    }
  }

  .content {
    background-color: #fff;
    color: $jade-dark;
    padding: 8px 24px 16px 24px;

    .wordlist-row {
      display: grid;
      grid-template-columns: 16px 1fr 1fr;
      gap: 12px;
      padding: 4px 0;
      align-items: center;
      position: relative;

      &.header {
        text-transform: uppercase;
        border-bottom: 1px solid $jade-dark;
      }
    }
  }
}

.action-button {
  padding: 5px 4px;
  margin: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 14px;
  display: inline-block;
  color: rgba($color: #fff, $alpha: 0.4);
  text-align: center;
  transition-duration: 0.2s;
  cursor: pointer;
  position: relative;

  &:hover {
    color: #fff;
    background-color: rgba($color: #fff, $alpha: 0.15);
  }

  .action-button-loading {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.create-card-field {
  display: block;
  height: 32px;
  border-radius: 4px;
  border: 3px solid rgba($color: $jade-dark, $alpha: 0.2);
  padding: 0 8px;
  transition-duration: 0.2s;
  outline: 0;
  font-size: 14px;

  &:focus {
    border-color: $jade-dark;
  }

  &::placeholder {
    color: #c5c5c5;
  }
}

.textfield-error {
  background-color: #fcc;
}

.create-card-loading {
  position: absolute;
  right: 0;
  top: 4px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .lessons-img {
    width: 108px;
    margin: 20px 0;
  }

  .play-option {
    display: block;
    padding: 4px;
    margin: 4px 0;
    border-radius: 4px;
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.2);
    }

    &.selected {
      background-color: #fff;
      color: $gray;
    }
  }
}

.float-right {
  float: right;
}

.btn-visibility {
  cursor: pointer;
}
