<app-error-message [message]="message"></app-error-message>
<div class="recallcard-learn">
  <div class="grid-area-courses">
    <app-vertical-list title="Courses" name="courses" [handler]="this"></app-vertical-list>
  </div>
  <div class="grid-area-lessons">
    <div class="lessons" *ngIf="selectedCourse">
      <app-vertical-list title="Lessons" name="lessons" [handler]="this"></app-vertical-list>
    </div>
  </div>
  <div class="grid-area-cards">
    <div class="cards" *ngIf="selectedLesson && selectedLesson.cards">
      <div class="header">
        <span class="header-title">{{ selectedLesson.name }}</span>
        ({{ selectedLesson.cards.length }} card{{selectedLesson.cards.length > 1 ? 's':''}})
      </div>
      <div class="content">
        <div class="wordlist-row header">
          <span>Word</span>
          <div>
            Meaning
            <i
              class="fas btn-visibility"
              [class.fa-eye]="isMeaningVisible"
              [class.fa-eye-slash]="!isMeaningVisible"
              (click)="onToggleVisiblity()"
            ></i>
          </div>
        </div>
        <div class="wordlist-row" *ngFor="let card of selectedLesson.cards">
          <div>{{ card.word }}</div>
          <div *ngIf="isMeaningVisible">{{ card.meaning }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-area-play">
    <div class="right" *ngIf="selectedLesson && selectedLesson.cards">
      <img src="/assets/img/lessons.png" class="lessons-img" />
      <div class="play">
        <app-header-text>Play mode</app-header-text>
        <label class="play-option" [class.selected]="playMode == 'multicards'">
          <input type="radio" value="multicards" [(ngModel)]="playMode" />
          Multi-Cards
        </label>
        <label class="play-option" [class.selected]="playMode == 'random'">
          <input type="radio" value="random" [(ngModel)]="playMode" />
          Random
        </label>
      </div>
      <button app-rounded-button [disabled]="!playMode" (click)="onClickPlay()">Play</button>
    </div>
  </div>
</div>
