<div class="vertical-list">
  <app-header-text [icon]="titleIcon">{{ title }}</app-header-text>
  <app-list-button-item
    *ngFor="let item of handler.verticalListGetItems(this); let i = index"
    [selected]="handler.verticalListIsItemSelectedAtIndex(this, i)"
    (click)="handler.verticalListOnClickItemAtIndex(this, i)"
    [icon]="handler.verticalListGetIconAtIndex != null ? handler.verticalListGetIconAtIndex(this, i) : ''"
    >{{ handler.verticalListGetLabelAtIndex(this, i) }}</app-list-button-item
  >
</div>
