<div class="sign-in">
  <app-error-message [message]="message"></app-error-message>
  <app-striped-header>Sign in</app-striped-header>
  <form>
    <input
      app-rounded-text-field
      type="text"
      placeholder="username"
      [(ngModel)]="username"
      [ngModelOptions]="{ standalone: true }"
      autofocus
    />
    <input
      app-rounded-text-field
      type="password"
      placeholder="password"
      [(ngModel)]="password"
      [ngModelOptions]="{ standalone: true }"
    />
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="rememberMe" [ngModelOptions]="{ standalone: true }" />
        Remember me
      </label>
    </div>
    <button app-rounded-button (click)="onSignIn()" [disabled]="isLoading">
      sign in <i class="fas fa-user-lock"></i>
    </button>
  </form>
  <div class="auth-switch" *ngIf="allowRegistration">
    Don't have an account? <a routerLink="/auth/sign-up">Sign up</a>
  </div>
</div>
