@import '../../../styles/variables';

.sign-in {
  color: #fff;
  background-color: $gray;
  padding: 20px 24px;

  @media screen and (min-width: $width-pc) {
    padding: 20px 48px;
  }

  .auth-switch {
    margin: 8px 0 0 0;
  }
}
