<div class="sign-in">
  <app-error-message [message]="message"></app-error-message>
  <app-striped-header>{{ 'auth.sign-in.title' | translate }}</app-striped-header>
  <form>
    <input
      app-rounded-text-field
      type="text"
      [placeholder]="'auth.common.username' | translate"
      [(ngModel)]="username"
      [ngModelOptions]="{ standalone: true }"
      autofocus
    />
    <input
      app-rounded-text-field
      type="password"
      [placeholder]="'auth.common.password' | translate"
      [(ngModel)]="password"
      [ngModelOptions]="{ standalone: true }"
    />
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="rememberMe" [ngModelOptions]="{ standalone: true }" />
        {{ 'auth.sign-in.rememberme' | translate }}
      </label>
    </div>
    <button app-rounded-button (click)="onSignIn()" [disabled]="isLoading">
      {{ 'auth.sign-in.title' | translate }} <i class="fas fa-user-lock"></i>
    </button>
  </form>
  <div class="auth-switch" *ngIf="allowRegistration">
    {{ 'auth.sign-in.noaccount' | translate }}
    <a routerLink="/auth/sign-up">{{ 'auth.sign-up.title' | translate }}</a>
  </div>
</div>
