@import '../../styles/variables';
@import '../../styles/mixins';

.auth {
  background-color: #ddd;
  text-align: center;
  margin: 0 -20px;
  height: calc(100vh - 100px);
  min-height: 420px;
  padding: 20px;
  z-index: 10;

  @media screen and (min-width: 620px) {
    background-color: rgba($color: #fff, $alpha: 0.8);
    position: fixed;
    margin: 0;
    width: 600px;
    height: fit-content;
    padding: 56px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 36px;
  }

  .header {
    color: $dark-gray;
  }

  .template {
    border-radius: 12px;
    overflow: hidden;
    @include shadow-4;
  }
}
