<div class="user-management">
  <app-header-text icon="users">{{ 'admin.user.title' | translate }}</app-header-text>
  <h2>{{ 'admin.user.self-registration.title' | translate }}</h2>
  <div class="section-content" *ngIf="allowSelfRegistration !== undefined">
    <div class="content-no-button">
      <label>
        <input type="checkbox" [(ngModel)]="allowSelfRegistration" />
        {{ 'admin.user.self-registration.allow' | translate }}
      </label>
    </div>
    <button
      app-rounded-button
      [disabled]="isLoadingSelfRegistration"
      (click)="onSaveSelfRegistration()"
    >
      {{ 'admin.common.save' | translate }}
    </button>
  </div>
  <h2>{{ 'admin.user.management.title' | translate }}</h2>
  <div class="section-content">
    <div *ngFor="let user of users">{{ user.username }}</div>
  </div>
</div>
