@import '../../../styles/variables';

.view-container {
  display: grid;
  grid-template-columns: auto 16px;
  gap: 8px;
  align-items: center;
}

.edit-container {
  display: grid;
  grid-template-columns: auto 16px 16px;
  gap: 8px;
  align-items: center;
}

.edit-button {
  opacity: 0.4;
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.edit-field {
  display: block;
  height: 32px;
  border-radius: 4px;
  border: 3px solid rgba($color: $magenta-dark, $alpha: 0.2);
  padding: 0 8px;
  transition-duration: 0.2s;
  outline: 0;
  font-size: 14px;

  &:focus {
    border-color: $magenta-dark;
  }

  &::placeholder {
    color: #c5c5c5;
  }
}
